#contents {
    margin: 10px;
    display: grid;
    grid-template-areas: "length-label length-selector"
                         "clock-label  clock-selector";
    grid-template-rows: max-content max-content;
    grid-row-gap: 5px;
    grid-template-columns: max-content max-content;
    grid-column-gap: 10px;
}

#filter-label__length {
    grid-area: length-label;
}

#length-filter-selector {
    grid-area: length-selector;
}

#filter-label__clock {
    grid-area: clock-label;
}

#clock-filter-selector {
    grid-area: clock-selector;
}
